@font-face {
	font-family: "Georgia";
	src: url("../fonts/georgia.ttf");
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "Open Sans Light";
	src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Open Sans - Extrabold";
	src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
	font-family: "League Gothic";
	src: url("../fonts/league gothic.ttf");
}
