main {
	position: relative;
	z-index: 90;
}

.about {
	height: 342px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-wrap {
	width: 30%;
	height: 192px;
	display: flex;
	position: relative;
	margin-top: 5px;
}

.about-wrap__icon {
	padding: 3px 0 0 0;
	margin-right: 25px;
}

.about-wrap__txt_head {
	height: 22px;
	text-shadow: 1px 1px 0 #0f1518;
	color: #ffffff;
	font-family: "League Gothic";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.about-wrap__txt_info {
	height: 116px;
	text-shadow: 1px 1px 0 #0f1518;
	color: #ffffff;
	font-family: "Open Sans Light";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	overflow-y: hidden;
}

.about-wrap__txt_button {
	position: absolute;
	right: 0;
	bottom: 0;
}

.about-wrap__txt_button span {
	color: #ffffff;
	font-family: "League Gothic";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-transform: uppercase;
	padding-right: 4px;
}

.about-wrap__txt_button:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.updates {
	width: 100%;
	height: 484px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 100px 0 0 21px;
}

.updates-col1 {
	width: 46.5%;
	height: 274px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	position: relative;
	padding: 32px 0 0 38px
}

.updates-col1 h4 {
	text-shadow: 1px 1px 0 #ffffff;
	color: #edbfff;
	font-family: "League Gothic";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;

}

.updates-col1 h4::before {
	content: "pingbuller ";
	display: inline;
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "League Gothic";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;

}

.updates-col1__txt {
	width: 90%;
	height: 165px;
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "Open Sans Light";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	overflow-y: hidden;
	margin-top: 10px;
}

.angle {
	width: 0;
	height: 0;
	border-top: 19px solid #f0f0f0;
	border-left: 19px solid transparent;
	position: absolute;
	bottom: -20px;
	right: 40px;
}

.angle::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 18px solid #ffffff;
	border-left: 18px solid transparent;
	position: absolute;
	right: 1px;
	bottom: 2px;
}

.photo-icon {
	position: absolute;
	left: -21px;
	top: 21px;
}

/*Style dots reverse color*/

.shape-box2 {
	width: 83px;
	height: 17px;
	position: absolute;
	left: 174px;
	bottom: -42px;
	z-index: 90;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shape-box2__dot {
	width: 17px;
	height: 17px;
	box-shadow: 1px 2px 0 #ffffff;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
}

.shape-box2__dot:nth-child(2) {
	width: 15px;
	height: 15px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 1);
	border: 2px solid #ffffff;
	background-image: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
	opacity: 1;
}

/*-*/

.updates-col2 {
	width: 47%;
	height: 261px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 32px;
}

.updates-col2 h4 {
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "League Gothic";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 3px
}

.updates-col2_news {
	display: flex;
}

.post {
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin-left: 17px;
	letter-spacing: -0.5px;
}

.post__header {
	display: block;
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "Open Sans - Extrabold";
	font-size: 16px;
	font-weight: 400;
}

.updates__col2-button {
	width: 82px;
	height: 14px;
	align-self: flex-end;
	padding-top: 4px;
}

.updates__col2-button span {
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "League Gothic";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.1px;
	line-height: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

.updates__col2-button_mobile {
	display: none;
	width: 88px;
	height: 18px;
	align-self: flex-end;
	margin-right: 17px;
}

.updates__col2-button_mobile span {
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "League Gothic";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.1px;
	line-height: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

.partners {
	height: 120px;
	display: flex;

}

.partners__logo {
	width: 81%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	cursor: pointer;
}

.bottom-sector {
	height: 396px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.bottom-sector-col {
	width: 28.9%;
	display: flex;
	flex-direction: column;
}

.bottom-sector-col h4 {
	text-shadow: 1px 1px 0 #ffffff;
	color: #454545;
	font-family: "League Gothic";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.bottom-sector-col:first-child h4 {
	text-shadow: 0 1px 0 #ffffff;
	color: #454545;
	font-family: "League Gothic";
	font-size: 48px;
	font-weight: 400;
	line-height: 33.72px;
	text-transform: uppercase;
	padding: 2px 0 0 2px;
}

.bottom-sector-col:first-child h4::after {
	content: "er";
	display: inline;
	width: 29px;
	height: 36px;
	text-shadow: 0 1px 0 #ffffff;
	color: #b9b9b9;
	font-family: "League Gothic";
	font-size: 48px;
	font-weight: 400;
	line-height: 33.72px;
	text-transform: uppercase;
}

.bottom-sector-col h5 {
	text-shadow: 1px 1px 0 #ffffff;
	color: #c5c5c5;
	font-family: "Georgia";
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	margin: 19px 0 0px 3px;
}

.bottom-sector-col__txt {
	height: 175px;
	text-shadow: 1px 1px 0 #ffffff;
	color: #787878;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: -0.5px;
	overflow-y: hidden;
	padding: 11px 0 0 2px;
}

.bottom-sector-col:first-of-type .bottom-sector-col__txt {
	height: 122px;
	padding: 5px 0 0 3px;
	letter-spacing: -0.5px;
}